p a {
    color: #0584a0;
}

.pro-images {
    position: relative;
    display: block;
}

.pro-images img.overlay-img {
    position: relative;
}

.pro-images img {
    position: absolute;
}

.form-style.div-block-36 {
    margin-top: 20px;
    top: 0;
    max-width: 400px;
}

.submit-button.w-button {
    min-width: 160px;
    text-align: center;
}

.heading-4,
.heading-3,
.div-block-28 .text-block-5,
.w-form .field-label-2,
.w-form .field-label {
    text-transform: uppercase;
}

.form-style input {
    padding: 2px 8px;
    box-sizing: border-box;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 12px;
    padding-right: 12px;
    width: 100%;
    border: 1px solid #939393;
    height: 38px;
    font-family: Barlow,
        sans-serif;
    color: #848b8f;
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
    border-radius: 5px;

}

.form-style button {
    display: inline-block;
    color: white;
    border: 0;
    text-decoration: none;
    cursor: pointer;
    border-radius: 0;

    padding: 10px 18px;
    background-color: #0584a0;
    background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.16), hsla(0, 0%, 100%, 0.09));
    font-family: Cabin,
        sans-serif;
    line-height: 18px;
    font-weight: 500;
    text-transform: uppercase;



}

.contet-sec {
    min-height: calc(100vh - 512px);
}


[data-reach-slider-input][data-orientation="horizontal"] {
    width: 100% !important;
    outline: none !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

[data-reach-slider-input][data-orientation="horizontal"] * {
    outline: none !important;
}

.slider-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.range-s {
    font-size: 12px;
}

.range-s.range-s-min {
    margin-right: 5px;
}

.range-s.range-s-max {
    margin-left: 10px;
}



@media (max-width: 991px) {
    .contet-sec {
        min-height: calc(100vh - 787px);
    }
}

@media (max-width: 798px) {
    .contet-sec {
        min-height: calc(100vh - 711.95px);
    }
}