p a {
    color: #0584a0;
}

.pro-images {
    position: relative;
    display: block;
}

.pro-images img.overlay-img {
    position: relative;
}

.pro-images img {
    position: absolute;
}

.contet-sec {
    min-height: calc(100vh - 512px);
}

@media (max-width: 991px) {
    .contet-sec {
        min-height: calc(100vh - 787px);
    }
}

@media (max-width: 798px) {
    .contet-sec {
        min-height: calc(100vh - 711.95px);
    }
}